{% extends "TutoTestBundle::base.html.twig" %}
{% block filters %}
<p>Looking to watch a movie respectful with women representation?</p>
    <ul>
        <li>Passed bechdel test</li>
        <li><Woman directed></li>
        <li>Woman written</li>
        <li>Most dialogues said by women</li>
    </ul>
{% endblock %}
