<!DOCTYPE html>
<html>
    <head>
        <title>What I Should Watch: diversity in film </title>
    </head>
    <body>
        <h1>Diversity in film</h1>
        
        <p>
            Le Hello World est un grand classique en programmation.
            Il signifie énormément, car cela veut dire que vous avez
            réussi à exécuter le programme pour accomplir une tâche simple :
            afficher ce hello world !
        </p>
    </body>
</html>



the name of the film is {{film}}! <br>
the year of the film is {{year}}!
the bechdel test result of {{film}} is {{bechdel}}
