{% extends "TutoTestBundle::base.html.twig" %}

{% block results %}
<h2>Looking to watch a movie respectful to women's representation?</h2>
    <form method ="POST" action="{{path('tuto_test_resultat')}}">
        <div class="filter">
            <label for="dialogueWomen">Most dialogue said by women</label>
            <input type="checkbox" id="dialogueWomen" name="dialogueWomen"> 
        </div>
        <div class="filter">        
            <label for="bechdel">Passed the bechdel test</label>
            <input type="checkbox" id="bechdel" name="bechdel">     
        </div>
        <input type="submit" name="envoyer" value="Show me the movies" class="search">
    </form>   
<ul class="results columns-3"">
    {% for a in products %}
        <li>
            <a href={{ 'http://www.imdb.com/title/' ~ a.getImdbId() }}>
                <img src="{{ a.getImageUrl() }}" alt="Poster of : "/>
                <h3>{{ a.title }}</h3>
            </a>
        </li>
        {% endfor %}
</ul>
{% endblock %}
