
.DS_Store


# Cache and logs (Symfony2)

/Symfony/app/cache/*
/Symfony/app/logs/*
!/Symfony/app/cache/.gitkeep
!/Symfony/app/logs/.gitkeep


# Parameters
/Symfony/app/config/parameters.yml
/Symfony/app/config/parameters.ini
