/* Global --------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 100%;
  font-family: 'Muli', sans-serif;
  color: #555;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.site-wrap {
  margin-top: 4%;
	margin-right: 4%;
	margin-left: 4%;
	flex: 1;
}

/* Main headings ('Home', 'About', 'Diversity in Movie' )----------------- */
h1 {
  font-weight: 800;
  font-size: 3em;
  text-align: center;
  color: black;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* Second level headings ------------------------ */
h2 {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-top: 2%;
  color: black;
}

/* Descriptions under the headings for each page ------------------- */
h3 {
  font-size: 1.5em;
  text-align: center;
  color: #A0A0A0;
  font-style: italic;
  margin-top:2%;
}

/* Title of section --------------- */
h4 {
    font-size: 1.5em;
    text-align: left;
    color: #A0A0A0;
    margin-top: 4%;
    font-weight: 300;
}

/* Filters --------------------------------- */
form {
  margin: 4%;
}

.filter label {
  font-weight: 300;
}

.search {
  margin-top: 2%;
}

/* List for results ----------------------------------- */

ul.results {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.results li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.results li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.results li .title {
	margin: 0 0 5px;
}
ul.results li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.results.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.results.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
 

@media screen and (max-width: 600px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.results {
		margin-left: 0;
	}
	ul.results li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}


/* Link ----------------------- */
a {
  text-decoration: none;
  color: black;
}


/* Top Menu ----------------------- */
.topMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E5E5E5;
}

.topMenu ul li {
  float: right;
  padding-left: 1.5em;
  text-decoration: none;
}

.topMenu ul li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topMenu ul li a:hover:not(.active) {
    background-color: #111;
}

.topMenu ul li a.active {
    background-color: #4CAF50;
}

.topMenu ul li.right {
    float: right;
}

@media screen and (max-width: 600px){
    .topMenu ul li.right, 
    .topMenu ul li {float: none;}
}


/* footer --------------------- */

footer {
    text-align: center;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

footer p {
  margin: 0;
}

/* about ---------------------- */

.about {
  margin-top: 5%;
}

