<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>What Should I Watch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
    </head>
    <body>
        <header>
            <div class="topMenn">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Diversity in movies</li>

                </ul>
            </div>
            <div class="title">
                <h1>What Should I Watch?</h1>
                <h2>Diversity in films</h2>
            </div>
        </header>
        <div class="filter">
            {% block filters %}{% endblock %}
        </div>

        
    <footer>
        <p>Project created as part of LAB12. LAB12 is 12-week skills incubator featured by <a href="http://www.pitonneux.com/">les Pitonneux</a>
    </footer>

    </body>
</html>
