<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}What Should I Watch{% endblock %}</title>
    </head>
    <body>
        <h1>What Should I Watch</h1>
        <h2>Diversity in films</h2>
        <p>Looking to watch a movie respectful with women representation?</p>

        <div id="sortBy">

            {% block sortBy %}
                <ul>
                    <li>Passed bechdel test</li>
                    <li><Woman directed></li>
                    <li>Woman written</li>
                    <li>Most dialogues said by women</li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
